.app {
  height: 100vh;
  background-image:
    linear-gradient(rgba(95, 84, 255, 0)), linear-gradient(rgb(255, 80, 80)),
    url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.app_header {
  background-color: burlywood;
}
